.tag {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 24.4rem;
  max-width: 12.1rem;
  padding: 0.6rem 0.4rem;
  gap: 0.8rem;
  &.blue-tag {
    .icon {
      background-color: rgba(63, 104, 186, 0.15);
    }
    span {
      color: #3f67ba;
    }
  }
  .icon {
    width: 2.6rem;
    height: 2.5rem;
    background-color: rgba(194, 0, 0, 0.12);
    border-radius: 50%;
    @include centerTotalFlex;
  }
  span {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: #c20001;
  }
}

.search {
  background-color: white;
  border-radius: 12.2rem;
  width: 100%;
  max-width: 40.3rem;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 0.7rem;
  input[type="text"] {
    border: 50px;
    outline: none;
    width: 80%;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #a0afba;
    &::placeholder {
      color: #a0afba;
    }
  }
  button {
    width: 4.2rem;
    height: 4.2rem;
    background-color: rgba(158, 185, 225, 0.1);
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    &:hover {
      border-color: #3e75c3;
    }
    @include centerTotalFlex;
  }
}

.type-filter {
  display: flex;
  align-items: center;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s ease;
  &:hover,
  &.active {
    filter: initial;
    opacity: 1;
  }
  .icon {
    width: 2.8rem;
    height: 2.8rem;
    @include centerTotalFlex;
    margin-right: 0.5rem;
  }
  .span {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  &.all {
    span {
      color: var(--blue-primary);
    }
  }
  &.ghost {
    span {
      color: var(--type-ghost);
    }
  }
  &.bug {
    span {
      color: var(--type-bug);
    }
  }
  &.dark {
    span {
      color: var(--type-dark);
    }
  }
  &.dragon {
    span {
      color: var(--type-dragon);
    }
  }
  &.eletric {
    span {
      color: var(--type-eletric);
    }
  }
  &.fairy {
    span {
      color: var(--type-fairy);
    }
  }
  &.fighting {
    span {
      color: var(--type-fighting);
    }
  }
  &.ground {
    span {
      color: var(--type-ground);
    }
  }
  &.ice {
    span {
      color: var(--type-ice);
    }
  }
  &.normal {
    span {
      color: var(--type-normal);
    }
  }
  &.poison {
    span {
      color: var(--type-poison);
    }
  }
  &.psychic {
    span {
      color: var(--type-psychic);
    }
  }
  &.rock {
    span {
      color: var(--type-rock);
    }
  }
  &.grass {
    span {
      color: var(--type-grass);
    }
  }
  &.steel {
    span {
      color: var(--type-steel);
    }
  }
  &.water {
    span {
      color: var(--type-water);
    }
  }
  &.fire {
    span {
      color: var(--type-fire);
    }
  }
  &.flying {
    span {
      color: var(--type-flying);
    }
  }
}

.card-pokemon {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 30.4rem;
  background-color: white;
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  border-radius: 1.2rem;
  z-index: 1;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
    cursor: pointer;
  }
  &.grass {
    .image {
      &::after {
        background-color: rgba(114, 184, 97, 0.2);
      }
    }
  }
  &.bug {
    .image {
      &::after {
        background-color: rgba(155, 186, 72, 0.2);
      }
    }
  }
  &.dark {
    .image {
      &::after {
        background-color: rgba(89, 87, 97, 0.2);
      }
    }
  }
  &.dragon {
    .image {
      &::after {
        background-color: rgba(44, 106, 193, 0.2);
      }
    }
  }
  &.eletric {
    .image {
      &::after {
        background-color: rgba(238, 217, 103, 0.2);
      }
    }
  }
  &.fairy {
    .image {
      &::after {
        background-color: rgba(226, 150, 225, 0.2);
      }
    }
  }
  &.fairy {
    .image {
      &::after {
        background-color: rgba(196, 77, 97, 0.2);
      }
    }
  }
  &.ground {
    .image {
      &::after {
        background-color: rgba(206, 128, 86, 0.2);
      }
    }
  }
  &.ice {
    .image {
      &::after {
        background-color: rgba(139, 206, 193, 0.2);
      }
    }
  }
  &.normal {
    .image {
      &::after {
        background-color: rgba(160, 162, 159, 0.2);
      }
    }
  }
  &.poison {
    .image {
      &::after {
        background-color: rgba(172, 106, 202, 0.2);
      }
    }
  }
  &.psychic {
    .image {
      &::after {
        background-color: rgba(235, 139, 133, 0.2);
      }
    }
  }
  &.rock {
    .image {
      &::after {
        background-color: rgba(139, 206, 193, 0.2);
      }
    }
  }
  &.ghost {
    .image {
      &::after {
        background-color: rgba(97, 110, 183, 0.2);
      }
    }
  }
  &.steel {
    .image {
      &::after {
        background-color: rgba(101, 148, 161, 0.2);
      }
    }
  }
  &.water {
    .image {
      &::after {
        background-color: rgba(136, 163, 212, 0.2);
      }
    }
  }
  &.fire {
    .image {
      &::after {
        background-color: rgba(246, 109, 109, 0.2);
      }
    }
  }
  &.flying {
    .image {
      &::after {
        background-color: rgba(166, 187, 232, 0.2);
      }
    }
  }
  .image {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    @include centerTotalFlex;
    margin-bottom: 1.4rem;
    .thumb-img {
      max-width: 14.2rem;
    }
    &::after {
      content: "";
      width: 16.5rem;
      height: 16.5rem;
      // background-color: #b6ebdc;
      position: absolute;
      z-index: -1;
      border-radius: 50%;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2.8rem;
    .text {
      span {
        display: block;
        text-align: left;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.5;
        color: #7a7d80;
        margin-bottom: 0.6rem;
      }
    }
    .icon {
      margin-bottom: 1rem;
    }
  }
  @media (max-width: 1200px) {
    max-width: 100%;
  }
}

.tag-type {
  display: inline-block;
  padding: 0 2.5rem;
  line-height: 2.4rem;
  border-radius: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  &.grass {
    color: var(--type-grass);
    background-color: rgba(114, 184, 97, 0.1);
  }
  &.bug {
    color: var(--type-bug);
    background-color: rgba(155, 186, 72, 0.1);
  }
  &.dark {
    color: var(--type-dark);
    background-color: rgba(89, 87, 97, 0.1);
  }
  &.dragon {
    color: var(--type-dragon);
    background-color: rgba(44, 106, 193, 0.1);
  }
  &.eletric {
    color: var(--type-eletric);
    background-color: rgba(238, 217, 103, 0.1);
  }
  &.fairy {
    color: var(--type-fairy);
    background-color: rgba(226, 150, 225, 0.1);
  }
  &.fighting {
    color: var(--type-fighting);
    background-color: rgba(196, 77, 97, 0.1);
  }
  &.ground {
    color: var(--type-ground);
    background-color: rgba(206, 128, 86, 0.1);
  }
  &.ice {
    color: var(--type-ice);
    background-color: rgba(139, 206, 193, 0.1);
  }
  &.normal {
    color: var(--type-normal);
    background-color: rgba(160, 162, 159, 0.1);
  }
  &.poison {
    color: var(--type-poison);
    background-color: rgba(172, 106, 202, 0.1);
  }
  &.psychic {
    color: var(--type-psychic);
    background-color: rgba(235, 139, 133, 0.1);
  }
  &.rock {
    color: var(--type-rock);
    background-color: rgba(139, 206, 193, 0.1);
  }
  &.ghost {
    color: var(--type-ghost);
    background-color: rgba(97, 110, 183, 0.1);
  }
  &.steel {
    color: var(--type-steel);
    background-color: rgba(101, 148, 161, 0.1);
  }
  &.water {
    color: var(--type-water);
    background-color: rgba(136, 163, 212, 0.1);
  }
  &.fire {
    color: var(--type-fire);
    background-color: rgba(246, 109, 109, 0.1);
  }
  &.flying {
    color: var(--type-flying);
    background-color: rgba(166, 187, 232, 0.1);
  }
}

.btn-load-more {
  background-color: rgba(63, 93, 179, 0.1);
  border-radius: 0.6rem;
  padding: 1.4rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  color: var(--blue-primary);
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--blue-primary);
    color: white;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &[typePokemonModal="bug"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/bug.svg");
      }
    }
  }
  &[typePokemonModal="dark"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/dark.svg");
      }
    }
  }
  &[typePokemonModal="dragon"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/dragon.svg");
      }
    }
  }
  &[typePokemonModal="electric"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/electric.svg");
      }
    }
  }
  &[typePokemonModal="fairy"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/fairy.svg");
      }
    }
  }
  &[typePokemonModal="fighting"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/fighting.svg");
      }
    }
  }
  &[typePokemonModal="fire"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/fire.svg");
      }
    }
  }
  &[typePokemonModal="flying"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/flying.svg");
      }
    }
  }
  &[typePokemonModal="ghost"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/ghost.svg");
      }
    }
  }
  &[typePokemonModal="grass"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/grass.svg");
      }
    }
  }
  &[typePokemonModal="ground"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/ground.svg");
      }
    }
  }
  &[typePokemonModal="ice"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/ice.svg");
      }
    }
  }
  &[typePokemonModal="normal"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/normal.svg");
      }
    }
  }
  &[typePokemonModal="poison"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/poison.svg");
      }
    }
  }
  &[typePokemonModal="psychic"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/psychic.svg");
      }
    }
  }
  &[typePokemonModal="rock"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/rock.svg");
      }
    }
  }
  &[typePokemonModal="steel"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/steel.svg");
      }
    }
  }
  &[typePokemonModal="water"] {
    .box {
      .left-container {
        background-image: url("../img/bg-types/water.svg");
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .box {
    position: relative;
    width: 100%;
    max-width: 71rem;
    height: 50.8rem;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.5);
    border-radius: 1.6rem;
    display: flex;
    transform: translateY(4rem);
    transition: transform 0.3s ease-in;
    .close {
      position: absolute;
      top: -4.4rem;
      right: 0;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 0.8rem;
      background-color: white;
      @include centerTotalFlex;
    }
    .left-container {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 19.1rem;
      background-repeat: no-repeat;
      background-position: center center;
      .icon {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 3.4rem;
        height: 3.4rem;
        background-color: white;
        border-radius: 50%;
        @include centerTotalFlex;
      }
      .image {
        position: absolute;
        left: 1.4rem;
        bottom: 13.8rem;
        width: 20.2rem;
        img {
          width: 100%;
        }
      }
    }
    .right-container {
      padding: 3.5rem 7.2rem 2.9rem 7.4rem;
      width: 100%;
      .name {
        display: flex;
        align-items: flex-end;
        gap: 0.8rem;
        margin-bottom: 1rem;
        h2 {
          font-size: 2.8rem;
          line-height: 1.2;
          color: #2f3133;
        }
        span {
          font-family: "Montserrat", sans-serif;
          font-size: 1.6rem;
          line-height: 2rem;
          letter-spacing: -0.01em;
          color: #7a7d80;
          position: relative;
          top: -0.3rem;
        }
      }
      .type {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 2.3rem;
      }
      .info {
        margin-bottom: 2.3rem;
        display: flex;
        justify-content: flex-start;
        gap: 4.8rem;
        li {
          span {
            display: block;
            margin-bottom: 0.4rem;
            font-size: 1.3rem;
            line-height: 1.2;
            letter-spacing: -0.01em;
            color: #7a7d80;
          }
          strong {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2;
            text-align: center;
            letter-spacing: -0.01em;
            color: #2f3133;
          }
        }
      }
      .weak {
        margin-bottom: 2.3rem;
        h4 {
          font-weight: 600;
          font-size: 1.3rem;
          line-height: 1.23;
          letter-spacing: -0.01em;
          color: #4d5053;
          margin-bottom: 1.6rem;
        }
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          gap: 1rem;
        }
      }
      .stats {
        h5 {
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.2;
          letter-spacing: -0.01em;
          color: #4d5053;
          margin-bottom: 1.6rem;
        }
        .all {
          .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(:last-child) {
              margin-bottom: 1.3rem;
            }
            span {
              font-size: 1.2rem;
              line-height: 1.25;
              color: #7a7d80;
              display: block;
              width: 6.8rem;
            }
            .bar-status {
              width: 100%;
              max-width: 28.3rem;
              height: 3px;
              background-color: #eff6f6;
              position: relative;
              .bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 56%;
                height: 100%;
                z-index: 0;
                background-color: #c20001;
              }
              .separator {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                @include centerTotalFlex;
                li {
                  width: 0.4rem;
                  height: 0.3rem;
                  background-color: white;
                  &:not(:first-child) {
                    margin-left: 5.4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 560px) {
    align-items: flex-end;
    .box {
      flex-direction: column;
      width: 100%;
      height: 90%;
      .close {
        top: -5rem;
        right: 0.6rem;
        border-radius: 0.8rem 0.8rem 0 0;
        width: 5rem;
        height: 5rem;
        img {
          width: 2.5rem;
        }
      }
      .left-container {
        max-width: 100%;
        height: 12.5rem;
        background-size: cover;
        .image {
          left: 50%;
          bottom: -2.5rem;
          width: 12rem;
          margin-left: -6rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .right-container {
        padding: 4rem 2.4rem;
        .name {
          justify-content: center;
        }
        .type {
          justify-content: center;
        }
        .info {
          justify-content: center;
        }
        .weak {
          h4 {
            text-align: center;
          }
          ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            li {
              .tag-type {
                width: 100%;
                text-align: center;
              }
            }
          }
        }
        .stats {
          .all {
            .item {
              .bar-status {
                max-width: 75%;
                .separator {
                  li {
                    &:not(:first-clild) {
                      margin-left: 11%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.open-modal {
  .modal {
    opacity: 1;
    pointer-events: all;
    .box {
      transform: translateY(0);
    }
  }
}
