.s-area-slide-hero {
  position: relative;
  width: 100%;
  height: 99.4rem;
  .slide-hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-slide {
      &.blue {
        .main-area {
          background: url(../img/bg-blue.svg) no-repeat center center;
          background-size: cover;
          .text {
            .image {
              .pokeball {
                position: relative;
                top: -6.5rem;
                left: 1.3rem;
              }
            }
          }
          .area-explore {
            .txt {
              .icon {
                background-color: rgba(175, 192, 227, 0.28);
              }
            }
          }
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 288px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #eff3f6;
        z-index: -1;
        pointer-events: none;
      }
      .main-area {
        position: relative;
        background: url(../img/bg-red.svg) no-repeat center center;
        width: 100%;
        height: 70.6rem;
        background-size: cover;
        padding-top: 13.3rem;
        .container {
          position: relative;
          height: 100%;
        }
        .tag {
          margin: 0 auto;
        }
        .text {
          h1 {
            text-align: center;
            margin-top: 2.9rem;
            margin-bottom: 0.8rem;
          }
          p {
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            line-height: 1.5;
            color: white;
          }
          .image {
            position: relative;
            z-index: 1;
            width: 100%;
            max-width: 79.8rem;
            margin: 0 auto;
            margin-top: 12.2rem;
            animation: floating 5s ease-in-out infinite;
            .lighting {
              position: absolute;
              top: -4.9rem;
              left: 50%;
              margin-left: -8.5rem;
            }
          }
        }
        .area-explore {
          position: absolute;
          bottom: 8rem;
          left: 0;
          width: 100%;
          z-index: 10;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          .txt {
            top: -3.9rem;
            left: -2.1rem;
            position: relative;
            display: flex;
            align-items: center;
            transform: rotate(-90deg);
            .icon {
              width: 4rem;
              height: 4rem;
              background-color: #c90c0c;
              border-radius: 50%;
              transform: rotate(90deg);
              @include centerTotalFlex;
            }
            span {
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.5;
              color: white;
              margin-left: 3rem;
            }
          }
          .swiper-pagination {
            position: relative;
            .swiper-pagination-bullet {
              width: 0.7rem;
              height: 0.7rem;
              background-color: white;
              &:not(:first-child) {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: 95.4rem;
    .slide-hero {
      .swiper-slide {
        &.blue {
          .main-area {
            .text {
              h1 {
                max-width: 38.5rem;
                margin: 2.9rem auto 0.8rem auto;
              }
            }
          }
        }
        &::after {
          height: 25rem;
        }
        .main-area {
          .area-explore {
            display: none;
          }
          .text {
            .image {
              margin-top: 8.2rem;
            }
          }
        }
      }
    }
  }
  @media (max-width: 560px) {
    overflow: hidden;
    height: 104.5rem;
    .slide-hero {
      .swiper-slide {
        &.blue {
          .main-area {
            .text {
              h1 {
                max-width: 25.4rem;
              }
            }
          }
        }
        .main-area {
          padding-top: 12rem;
          h1 {
            font-size: 4.8rem;
            line-height: 1.2;
          }
          .image {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              max-width: 72rem;
            }
          }
        }
        &::after {
          height: 36.4rem;
        }
      }
    }
  }
}

.s-all-info-pokemons {
  position: relative;
  padding-top: 11.9rem;
  margin-top: -28.8rem;
  z-index: 2;
  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 16.8rem;
    h2 {
      max-width: 26.5rem;
    }
    .search {
      margin-top: 2.7rem;
    }
  }
  .area-all {
    display: flex;
    .left-container {
      padding-top: 7.1rem;
      padding-bottom: 7.5rem;
      width: 100%;
      max-width: 32.9rem;
      border-right: 1px solid #eff3f6;
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 4rem;
          }
        }
      }
    }
    .right-container {
      width: 100%;
      padding-top: 7.1rem;
      padding-left: 7.5rem;
      padding-bottom: 7.5rem;
      .top-container {
        margin-bottom: 6.3rem;
        & > div {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          span {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.5;
            color: #4d5053;
          }
        }
      }
      .select-custom {
        display: none;
        position: relative;
        margin-bottom: 5.5rem;
        &.active {
          .item-selected {
            border-radius: 1rem 1rem 0 0;
          }
          .dropdown-select {
            opacity: 1;
            pointer-events: all;
          }
        }
        .item-selected {
          cursor: pointer;
          width: 100%;
          height: 5.6rem;
          border: 1px solid #a0afba;
          background: url("../img/arrow-down-select.svg") no-repeat right 2.4rem
            center;
          padding: 0 2rem;
          border-radius: 1rem;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          transition: all 0.3s;
          span {
            color: #7a7d80;
            opacity: 0.6;
            font-size: 1.4rem;
          }
          strong {
            font-size: 1.4rem;
            color: #7a7d80;
            font-weight: 600;
          }
        }
        .dropdown-select {
          position: absolute;
          top: 5.6rem;
          z-index: 2;
          width: 100%;
          height: 22.3rem;
          border: 1px solid #a0afba;
          background-color: white;
          border-top: 0;
          padding: 2.1rem;
          overflow-y: auto;
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s;
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar {
            width: 0.5rem;
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #3d75c2;
            border-radius: 0.5rem;
          }
          li {
            &:first-child {
              button {
                padding-top: 0;
              }
            }
            button {
              padding: 1.2rem 0;
            }
          }
        }
      }
      .not-found {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        h3 {
          text-align: center;
          color: #4d5053;
        }
      }
      .all {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.2rem;
        margin-bottom: 6.8rem;
      }
      .btn-load-more {
        display: table;
        margin: 0 auto;
      }
    }
  }
  @media (max-width: 1200px) {
    .top {
      .search {
        max-width: 32.3rem;
      }
    }
    .area-all {
      .left-container {
        max-width: 15.9rem;
        padding-top: 4rem;
      }
      .right-container {
        padding-top: 4rem;
        padding-left: 2.5rem;
        padding-bottom: 4rem;
        .top-container {
          margin-top: 4rem;
        }
        .all {
          gap: 2rem;
        }
      }
    }
  }
  @media (max-width: 768px) {
    margin-top: -25.8rem;
    .top {
      margin-bottom: 4rem;
    }
    .area-all {
      .left-container {
        display: none;
      }
      .right-container {
        padding-left: 0;
      }
    }
  }
  @media (max-width: 560px) {
    margin-top: -34rem;
    padding-top: 12rem;
    padding-bottom: 4rem;
    .top {
      display: block;
      margin-bottom: 4.7rem;
      h2 {
        text-align: center;
        margin: 0 auto;
      }
      .search {
        margin: 0 auto;
        margin-top: 2.5rem;
      }
    }
    .area-all {
      .right-container {
        .select-custom {
          display: block;
        }
        .not-found {
          h3 {
            text-wrap: balance;
          }
        }
        .all {
          grid-template-columns: 1fr;
          gap: 1.6rem;
          max-width: 86%;
          margin: 0 auto;
          margin-bottom: 4.8rem;
        }
      }
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
